/* Desktop view */
.try-it {
  width: 80%;
  margin: 60px auto;
  text-align: center;
  margin-top: 500px;
}
.try-it .login-btn {
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.12em;
  color: #000000;
  width: 284px;
  height: 61px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  border: 4px solid #ef8094;
  border-radius: 300px;
  padding: 14px 26px;
}
.feature-section {
  padding: 30px;
  padding: 30px 30px 0px 30px;
}
.feature-text {
  padding-top: 65px;
}
.feature-section-title {
  width: 70%;
  text-align: center;
  font-weight: 500;
  line-height: 1.5em;
  margin: auto;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  width: 511px;
  height: 149px;
}
.underline {
  margin-top: -60px;
}
.subcol-containers {
  float: left;
  width: 48%;
}
.showcase1-container {
  background-color: #f6f8fa;
  width: 100%;
  clear: both;
}
.showcase {
  width: 80%;
  margin: auto;
  overflow: none;
}
.showcase1pic {
  width: 100%;
}
.section-title {
  width: 70%;
  margin: none;
  font-weight: 200;
  line-height: 1.5em;
}
.section-left {
  width: 70%;
  padding: 20px 0px 0px 0px;
  margin: none;
  color: #000000;
}
.showcase2-container {
  padding-top: 60px;
  background-color: #ffffff;
  width: 100%;
  clear: both;
}
.login-btn {
  background-color: whitesmoke;
  border-radius: 28px;
  color: black;
  padding: 10px 26px;
  border: 3px solid #dc3545;
  text-align: center;
  font-weight: 500;
}
.home-comp.login-btn {
  width: 25%;
}
.left-container {
  /* width: 80%; */
  /* margin-left: auto; */
}
.top-section-main {
  margin-top: -40px;
  border: none;
  background-image: url(../../../public/assets/box-art.png);
  /* url(../../../public/assets/photo.png), */
  background-color: #f5f8ff;
  background-position: 100% top, right top;
  background-size: 10%, 15%;
  background-repeat: no-repeat, no-repeat;
  height: 430px;
  border: none;
}
.top-section-content {
  /* width: 50%; */
  margin-top: 0px;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.01em;
  text-align: left;
  display: flex;
  justify-content: space-evenly;
}
.home-comp.login-btn {
  border: 3px solid #ef8094;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.12em;
  width: 183px;
  height: 61px;
  background: #ffffff;
  border: 4px solid #ef8094;
  border-radius: 300px;
  padding: 15px 26px;
}
.top-section-content h1 {
  width: 511px;
  font-size: 4em;
  font-weight: 300;
  color: black;
  margin-top: 0px;
  padding-top: 100px;
  margin-bottom: 15px;
  font-family: "Roboto";
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left;
}
.top-section-content p {
  font-size: 1.3em;
  font-weight: 400;
  color: black;
  margin-top: 0px;
  width: 473px;
  height: 96px;
  left: 0px;
  top: 131px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.01em;
}
.play-button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 50px 0px 110px 0px;
}
.main-form h6 {
  font-family: sans-serif;
  font-size: 0.9em;
  font-weight: 100;
  color: #ffffff;
  text-align: center;
}
.main-form input {
  margin: 0;
  width: 30%;
  height: 40px;
  font-family: sans-serif;
  font-size: 0.9em;
  padding-left: 15px;
  font-weight: 100;
  border: none;
}
.main-form button {
  width: 30%;
  height: 42px;
  font-family: sans-serif;
  font-size: 0.9em;
  padding-left: 15px;
  font-weight: 100;
  color: #ffffff;
  background-color: #6dc77a;
  border: none;
}

@media only screen and (min-width: 981px) and (max-width: 1370px) {
  .top-section-main {
    background-position: 110% top, right top;
    background-size: 72%, 15%;
    height: 480px;
  }
}
/* Tab View - 769px */
@media only screen and (min-width: 765px) and (max-width: 980px) {
  .home-comp.login-btn {
    width: 40%;
    font-size: 14px;
  }
  .login-btn {
    width: 100%;
  }
  .top-section-content h1 {
    padding-top: 0px;
  }
  .top-section-content {
    width: 60%;
  }
  .left-container {
    /* width: 80%; */
    margin-left: 40px;
  }
  div.left-container p {
    font-style: normal;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 16px;
    letter-spacing: 0.01em;
  }
  .top-section-main {
    /* background-image: url(../../../public/assets/photo.png); */
  
    background-position: 200px 50px, right top;
    background-size: 80%, 15%;
    height: 430px;
  }
}
@media only screen and (min-width: 845px) and (max-width: 980px) {
  .top-section-main {
    /* background-image: url(../../../public/assets/photo.png); */
    background-position: 250px 20px, right top;
    background-size: 85%, 15%;
    height: 430px;
  }
  .home-comp.login-btn {
    font-size: 15px;
  }
}

@media only screen and (min-width: 446px) and (max-width: 764px) {
  .top-section-main {
    background-position: 56% 500px, right top;
    background-size: 100%, 1%;
    height: 900px;
  }
  .top-section-content p {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.01em;
    width: 350px;
    height: 166px;
  }
  .login-btn {
    width: 55%;
    margin: 3px 0px 20px 5px;
  }
}
/* Mobile View - 376px */
@media only screen and (max-width: 445px) {
  .try-it {
    margin: 50px auto;
    margin-top: 680px;
  }
  .try-it .login-btn {
    margin: 3px 0px 20px 0px;
  }
  .top-section-content h1 {
    font-family: "DM Serif Text";
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    color: #000000;
  }
  .top-section-content p {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.01em;
    width: 293px;
    height: 166px;
  }
  .top-section-main {
    background-color: #f5f8ff;
    background-position: 56% 530px, right top;
    background-size: 160%, 1%;
    height: 880px;
  }
  .home-comp.login-btn {
    width: 54%;
    margin: 3px 0px 20px 0px !important;
  }
  .feature-section-title {
    font-size: 35px !important;
  }
  .subcol-containers {
    float: left;
    width: 100%;
  }
  .feature-text {
    padding-top: 0px;
    padding-left: 0px;
  }
  .section-title {
    width: 80%;
    margin: 0px;
    line-height: 1em;
    font-weight: 350;
  }
  .section-left {
    width: 100%;
    margin: 0px;
  }
  .top-section-content {
    width: 100%;
    margin-top: 0px;
  }
  .left-container {
    /* width: 80%; */
    margin: auto;
  }
  .top-section-content h1 {
    width: 100%;
    font-weight: 300;
    color: black;
    margin-top: 0px;
    padding: 40px 0px 20px 0px;
    margin-bottom: 0px;
  }
  .top-section-content .left-container h1 {
    color: black;
  }
  .login-btn {
    width: 55%;
    margin: 35px 0px 20px 0px;
  }
  .feature-section-title {
    width: 100%;
  }
  .close img {
    width: 30px;
  }
  .mobile-menu img {
    width: 60%;
  }
  .top-section-content h1 {
    margin-top: 10px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 360px) {
  .footer-distributed {
    margin: 2% 6%;
    width: 90%;
  }
  .try-it .login-btn {
    margin: 3px 0px 20px -40px;
  }
  .home-comp.login-btn {
    width: 54%;
  }
  .feature-section-title {
    font-size: 35px !important;
  }
  .top-section-content p {
    font-size: 16px;
    width: 260px;
  }
  .top-section-main {
    background-position: 64% 550px, right top;
    background-size: 155%, 1%;
    height: 860px;
  }
  .close img {
    width: 30px;
  }
  .mobile-menu img {
    width: 60%;
  }

  .rounded-image .right-container img {
    border-radius: 50%;
  }
}

.rounded-image {
  border-radius: 50% !important;
  width: 300px;
  height: 250px;
}


.neverending-loader {
  background-color: #404456;
}

#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -2.7em;
  margin-left: -2.7em;
  width: 5.4em;
  height: 5.4em;
  background-color: #404456;
}

#hill {
  position: absolute;
  width: 7.1em;
  height: 7.1em;
  top: 1.7em;
  left: 1.7em;
  background-color: transparent;
  border-left: .25em solid whitesmoke;
  transform: rotate(45deg);
}

#hill:after {
  content: '';
  position: absolute;
  width: 7.1em;
  height: 7.1em;
  left: 0;
  background-color: #404456;
}

#box {
  position: absolute;
  left: 0;
  bottom: -.1em;
  width: 1em;
  height: 1em;
  background-color: transparent;
  border: .25em solid whitesmoke;
  border-radius: 15%;
  transform: translate(0, -1em) rotate(-45deg);
  animation: push 2.5s cubic-bezier(.79, 0, .47, .97) infinite;
}

@keyframes push {
  0% {
    transform: translate(0, -1em) rotate(-45deg);
  }
  5% {
    transform: translate(0, -1em) rotate(-50deg);
  }
  20% {
    transform: translate(1em, -2em) rotate(47deg);
  }
  25% {
    transform: translate(1em, -2em) rotate(45deg);
  }
  30% {
    transform: translate(1em, -2em) rotate(40deg);
  }
  45% {
    transform: translate(2em, -3em) rotate(137deg);
  }
  50% {
    transform: translate(2em, -3em) rotate(135deg);
  }
  55% {
    transform: translate(2em, -3em) rotate(130deg);
  }
  70% {
    transform: translate(3em, -4em) rotate(217deg);
  }
  75% {
    transform: translate(3em, -4em) rotate(220deg);
  }
  100% {
    transform: translate(0, -1em) rotate(-225deg);
  }
}

/* .left-container{

  background-image: url(../../../public/assets/work1.gif);
  background-color: #f5f8ff;
  background-position: 100% top, right top;
  background-size: 100%, 15%;
  background-repeat: no-repeat, no-repeat;
} */

/* .left-container{
  width: 1000px;
  height: 500px;
  margin-left: -200px;
} */